.form {
  text-align: center;
}

.mapContainer {
  margin-top: 25px;
  margin: auto;
  width: 40%;
  text-align: center;
  padding: 10px;
}

.mapDiv {
  height: 500px;
}

.mapZoomDisplay {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.updateButton {
  margin-top: 20px;
}

#marker {
  background-image: url("./assets/beach-ball.png");
  background-size: cover;
  width: 15px;
  height: 15px;
}

.label {
  display: flex;
  justify-content: center;
  font-size: larger;
  padding: 5px;
}

.input {
  width: 70%;
  height: 20%;
  padding: 5px;
  font-size: 20px;
  display: block;
  padding: 5px;
  margin: 24px auto;
}

.btn {
  width: 70%;
  height: 20%;
  padding: 5px;
  color: white;
  background-color: darkblue;
  border-radius: 2px;
  font-size: 20px;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.btn:hover {
  background-color: rgb(108, 159, 217);
  color: white;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  color: red;
  text-align: center;
}

.register span {
  color: #adb5bd;
}

.form-container {
  width: 30%;
  height: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 10px 10px 30px grey;
  border-radius: 8px;
}
