.form {
  text-align: center;
}

.mapContainer {
  margin-top: 25px;
}

.mapDiv {
  height: 500px;
}

.mapZoomDisplay {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.updateButton {
  margin-top: 20px;
}

.label {
  display: flex;
  justify-content: center;
  font-size: larger;
  padding: 5px;
}

.input {
  padding: 5px;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.btn {
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  color: red;
  /* width: fit-content; */
  /* height: 50px;
  padding: 5px; */
  text-align: center;
}

.success {
  display: block;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
