.beaches-container {
  width: 100%;
  height: 70px;
  background-color: #80b5e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.348);
}

.beach-nav-logo {
  font-size: 34px;
  font-weight: bold;
  color: white;
  margin: auto;
  margin-right: 200px;
  margin-left: 20px;
  padding: 10px;
  padding-bottom: 1%;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 310px;
}

/* ul = beach-nav-bar-list
li = beach-nav-item
link = beach-nav-link */

.beach-nav-bar .beach-nav-bar-list {
  display: flex;
  list-style-type: none;
}

.beach-nav-bar-list {
  margin-top: 20px;
}

.beach-nav-bar .beach-nav-bar-list .beach-nav-item .beach-nav-link {
  display: block;
  color: white;
  font-size: 21px;
  padding: 2px 9px;
  border-radius: 3px;
  margin: 5px;
  margin-top: 5px;
  transition: 0.2s;
  background-color: transparent;
  border: none;
}

.beach-nav-link {
  font-weight: bolder;
  text-decoration: none;
  width: 100px;
}

.beach-nav-bar .beach-nav-bar-list .beach-nav-item .beach-nav-link:hover {
  background-color: white;
  color: rgb(116, 151, 237);
  padding: 2px 8px;
  margin: 5px 1px;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    padding: 0 30px;
  }

  .logo {
    padding: auto;
  }

  .beach-nav-bar {
    position: absolute;
    margin-top: 90px;
    width: 100%;
    background-color: #80b5e4;
  }

  .beach-nav-bar-list {
    display: block;
    width: fit-content;
    margin: 5px 0 auto;
    padding-bottom: 1px;
    text-align: center;
    height: 45px;
  }
}
